@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.container-screen {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}
